@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.documentPage-contaner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    height: auto;
    width: 1120px;
}

.topdocumentpage-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: auto;
    flex-wrap: wrap;
}

.bottomdocumentpage-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: auto;
    flex-wrap: wrap;
}